@model wedding.Models.LoginUser
<h1>Login</h1>
<div>
    <form asp-controller="Home" asp-action="Login" method="post">
        <span asp-validation-for="LogEmail"></span>
        <label asp-for="LogEmail"></label><br>
        <input asp-for="LogEmail"/><br>
        <span asp-validation-for="LogPassword"></span>
        <label asp-for="LogPassword"></label><br>
        <input asp-for="LogPassword"/><br>
        <button type="submit">Create new User</button>
    </form>