@model wedding.Models.User


<div>
    <h2>No Login Information? Register to Continue</h2>
    <form asp-controller="Home" asp-action="Register" method="post">
        <span asp-validation-for="first_name"></span>
        <label asp-for="first_name"></label>
        <br>
        <input asp-for="first_name" />
        <br>
        <span asp-validation-for="last_name"></span>
        <label asp-for="last_name"></label>
        <br>
        <input asp-for="last_name" />
        <br>
        <span asp-validation-for="email"></span>
        <label asp-for="email"></label>
        <br>
        <input asp-for="email" />
        <br>
        <span asp-validation-for="password"></span>
        <label asp-for="password"></label>
        <br>
        <input asp-for="password" />
        <br>
        <button type="submit">Create new User</button>
    </form>
</div>